@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  position: fixed; /* Ensures the sidebar stays fixed in place */
  top: 0;
  left: 0;
  height: 100vh; /* Full height of the viewport */
  width: 250px; /* Adjust the width as needed */
  overflow: hidden; /* Prevent scrolling */
  background-color: #fff; /* Background color for the sidebar */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for styling */
  z-index: 10; /* Ensure it stays above other elements */
}
